<!DOCTYPE html>
<html>

<head>
  <!-- <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script> -->
  <!-- <script type="text/javascript" src="./bower_components/crypto-js/crypto-js.js"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</head>

<body> 


  <h2 style="padding:100px 0px 0px 550px">Welcome to Peer-it</h2>
  <form style="padding:70px 0px 0px 600px">



    <label for="rname">Room name</label><br>
    <input type="text" id="rname" name="rname"/><br><br/>
    <label for="uname">User name</label><br>
    <input type="text" id="uname" name="uname"/><br/><br>

    <div style="padding-left:30px">
      <button style="text-align: center" type="button" class="btn btn-primary" onclick="renderPage()">Join Room</button></div>

  </form>

</body>
<script src="js/start.js"></script>

</html>