<!DOCTYPE html>
<html>
  <head>
   <!-- <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script> -->
   <!-- <script type="text/javascript" src="./bower_components/crypto-js/crypto-js.js"></script> -->
  </head>
  <body>
  	<p>HIHIHIHIHHIHIHIHIHHIHIHIHIHIHIHIHHIHIHIH</p>

  </body>
  <script src="js/start.js"></script>
</html>
