<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peer IT!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script>
    const ROOM_ID = '<%= roomId %>'
    const USER_NAME = '<%= userName %>'
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <!-- <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script> -->
 <!-- <script type="text/javascript" src="C:\Users\Kumarpal\Desktop\peer-it-master\bower_components\crypto-js"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
</head>

<body>

  <div class="main">
    
    <div class="mainRight">
      <div class="mainHeader">
        <h4>Chat</h4>
      </div>
      <div class="mainChatWindow">
        <ul class="messagesContainer">
        </ul>
      </div>
      <!-- <div class="messageSendingTo">To: <span>Everyone <i class="fas fa-angle-down"></i></span> </div> -->
      <div class="mainMessageContainer">
        <input id="chatMessage" type="text" placeholder="Type message here...">
      </div>

      <div>
        <label for="files" class="custom-file-upload">
          File Upload
          <!-- <button style="font-size:24px">Button <i class="fa fa-cloud-upload"></i> -->
          <span class="glyphicon glyphicon-circle-arrow-up"></span>
      </label>
      <!-- <input id="file-upload" type="file"/> -->
         <input type="file" id="files" onchange="uploadFile()"></input>
        </div>

    </div>

    <div class="mainLeft">
      <div class="mainVideos">
        <div id="videoGrid"> </div>
        <br/>

      <div style="padding: 0px 0px 0px 470px">
        <button type="button" class="btn btn-danger btn-lg mainMuteButton" 
                 style="padding: 10px 10px 10px 10px" 
                 onclick="muteUnmute()">
          <i class="fas fa-microphone"></i>&nbsp;
          <span style="color:#fff;font-size: 15px;">Mute</span>
        </button>
      <!-- </div> -->

      <!-- <div style="padding: 0px 0px 0px 600px"> -->
      <button class="btn btn-primary btn-lg mainVideoButton" onclick="playStop()" style="padding: 10px 10px 10px 10px">
        <i class="fas fa-video"></i> &nbsp;
        <span style="color:#fff;font-size: 15px;">Stop Video</span>
      </button>
    </div>

      </div>
      <!-- <div class="mainControls"> -->
        <!-- <div class="mainControlsBlock"> -->

          <!-- <button type="button" class="btn btn-danger mainMuteButton" style="padding-left:10px" onclick="muteUnmute()">
            <i class="fas fa-microphone"></i>&nbsp;
            <span style="color:#fff;font-size: 13px;">Mute</span>
          </button> -->

          <!-- <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
            <i class="fas fa-microphone"></i>
            <span>Mute</span>
          </div> -->

          <!-- <button class="btn btn-primary mainVideoButton" onclick="playStop()" style="padding-left:10px">
            <i class="fas fa-video"></i> &nbsp;
            <span style="color:#fff;font-size: 13px;">Stop Video</span>
          </button> -->

          <!-- <div onclick="playStop()" class="mainControlsButton mainVideoButton">
            <i class="fas fa-video"></i>
            <span>Stop Video</span>
          </div> -->
        <!-- </div> -->

      <!-- </div> -->

    </div>
  </div>
</body>

<script src="js/main.js"></script>

</html>
